@model BuyFood_Template.ViewModel.CLoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/login_main.css">
    <!--===============================================================================================-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v10.0&appId=2891846024468232&autoLogAppEvents=1" nonce="aGengcrE"></script>

    <style>
        .btnLogin1 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .btnLogin2 {
            width: 100%;
            display: block;
            position: relative;
            z-index: 1;
            border-radius: 25px;
            overflow: hidden;
            margin: 0 auto;
            box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
            -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
            -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
            -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
            -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
        }

        .btnLogin3 {
            position: absolute;
            z-index: -1;
            width: 300%;
            height: 100%;
            background: #a64bf4;
            background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
            background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
            background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
            background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
            top: 0;
            left: -100%;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

        .btnLogin4 {
            font-family: Poppins-Medium;
            font-size: 16px;
            color: #fff;
            line-height: 1.2;
            text-transform: uppercase;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            width: 100%;
            height: 50px;
        }

        .btnLogin2:hover .btnLogin3 {
            left: 0;
        }

        input[type=button] {
            outline: none !important;
            border: none;
            background: transparent;
        }

            input[type=button]:hover {
                cursor: pointer;
            }
    </style>


</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg'); box-shadow:4px 4px 8px 8px #cccccc;">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

                <form class="login100-form validate-form" asp-action="登入" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span class="login100-form-title p-b-49">
                        Login
                    </span>
                    <input type="button" value="會員R" class="btn btn-primary"
                           onclick='(function () {
                                            document.getElementById("iddemo").value = "Rafa@gmail.com";
                                            document.getElementById("passdemo").value = "123";
                            })()' />
                    <input type="button" value="會員M" class="btn btn-primary"
                           onclick='(function () {
                                            document.getElementById("iddemo").value = "Maria@gmail.com";
                                            document.getElementById("passdemo").value = "123";
                            })()' />
                    <input type="button" value="會員A" class="btn btn-primary"
                           onclick='(function () {
                                            document.getElementById("iddemo").value = "Andres@gmail.com";
                                            document.getElementById("passdemo").value = "123";
                            })()' />
                    <input type="button" value="會員Test" class="btn btn-primary"
                           onclick='(function () {
                                            document.getElementById("iddemo").value = "jotaro@Gmail.com";
                                            document.getElementById("passdemo").value = "123";
                            })()' />
                    <input type="button" value="管理員" class="btn btn-primary"
                           onclick='(function () {
                                            document.getElementById("iddemo").value = "adm@buyfood.com";
                                            document.getElementById("passdemo").value = "adm";
                            })()' />
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">帳號(註冊信箱)</span>
                        <input class="input100" type="text" name="CEmail" placeholder="請輸入信箱" id="iddemo">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">密碼</span>
                        <input class="input100" type="password" name="CPassword" placeholder="請輸入密碼" id="passdemo">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="text-right p-t-8 p-b-31">
                        <a href="#">
                            忘記密碼?
                        </a>
                    </div>

                    @*<div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" onclick="memberLogin()">
                                Login
                            </button>
                        </div>
                    </div>*@

                    <div class="btnLogin1">
                        <div class="btnLogin2">
                            <div class="btnLogin3"></div>
                            <input type="button" value="Login"  onclick="memberLogin()" class="btnLogin4">
                        </div>
                    </div>

                    <div class="txt1 text-center p-t-54 p-b-20">
                        <span>
                            Or Sign Up Using
                        </span>
                    </div>

                    <div id="fb-root"></div>
                    <div class="flex-c-m">
                        <a href="#" onclick=" FB.login(function (response) {
                                if (response.authResponse) {
                                    console.log('Welcome!  Fetching your information.... ');
                                    FB.api('/me', function (response) {
                                        console.log('Good to see you, ' + response.name + '.');
                                        console.log(response);
                                        checkLoginState(response);
                                    });
                                } else {
                                    console.log('User cancelled login or did not fully authorize.');
                                }
                            });" class="login100-social-item bg1">
                            <i class="fa fa-facebook"></i>
                        </a>

                        @*<div class="fb-login-button" data-width="" data-size="small" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></div>*@
                        <input type="button" onclick="FB.logout(function(response) {});" value="登出" class="btn btn-primary" />



                        @*<a href="#" class="login100-social-item bg2">
                <i class="fa fa-twitter"></i>
            </a>

            <a href="#" class="login100-social-item bg3">
                <i class="fa fa-google"></i>
            </a>*@
                    </div>

                    <div class="flex-col-c p-t-155">
                        <span class="txt1 p-b-17">
                            沒有帳號嗎?
                        </span>

                        <a asp-controller="Customer" asp-action="Create" class="txt2">
                            @*前往註冊頁面*@
                            註冊
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <!--<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="~/vendor/animsition/js/animsition.min.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="~/vendor/select2/select2.min.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>-->
    <!--===============================================================================================-->
    <!--<script src="~/vendor/countdowntime/countdowntime.js"></script>-->
    <!--===============================================================================================-->
    @*<script src="~/js/main_login.js"></script>*@
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script>
        $(function closeChat() {
            $("#sidebar_secondary").css("display", "none")
            $("#addClass").css("display", "none")
        })
    </script>

    <script>
        function memberLogin() {
            var loginMember = {};

            loginMember.CEmail = $("#iddemo").val();
            loginMember.CPassword = $("#passdemo").val();

            $.ajax({
                url: "/HomePage/loginCheck",
                type: "POST",
                data: JSON.stringify(loginMember),
                dataType: "Json",
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == "memberFrozed") {
                        alert("此帳號已被凍結 請聯絡客服人員");
                    }
                    else if (data == "FrozeComplete") {
                        alert("輸入密碼錯誤超過3次 凍結此帳號");
                    }
                    else if (data == "FrozeCountPlus") {
                        alert("密碼輸入錯誤 錯誤累計超過3次將凍結帳號");
                    }
                    else if (data == "noEmail") {
                        alert("無此帳號 請重新輸入");
                    }
                    else if (data == "loginSuccess") {
                        alert("登入成功 將導回首頁");
                        window.location.assign("/HomePage/Home");
                    }
                    else {
                        alert("發生未知錯誤 請聯絡客服人員");
                    }
                } 

            });
        }
    </script>

    @*facebook API*@
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '2891846024468232',
                cookie: true,
                xfbml: true,
                version: 'aa62070754689055aa5b06e2a1a31fa7'
            });

            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

        function checkLoginState(response) {

            $.ajax({
                url: "/HomePage/facebookLogin",
                data: { "id": response.id, "name": response.name },
                type: "POST",
                success: function (data) {
                    if (data == true) {
                        window.alert("登入成功,將轉回首頁")

                    }
                    else {
                        //$.ajax({
                        //    url: "/Customer/CreateFacebookMember",
                        //    data: { "id": response.id, "name": response.name },
                        //    type: "GET",
                        //    success: function (data) {


                        //    }
                        //})
                        //window.location.assign("/Customer/CreateFacebookMember")

                    }
                }
            });

        }
    </script>


</body>
</html>