@{
    Layout = "_LayoutAd";
}
@model BuyFood_Template.ViewModels.yuActivityViewModel

<div style="background-color:#ffffff ;margin:auto;margin-top:100px;width:1000px">

    <h1 align=" center">新增活動</h1>
    <hr />

    <form asp-action="ActivityCreat" method="post" enctype="multipart/form-data">
        <div class="form-group" style="text-align: center;"><input style="font-size: 25px;padding: 5px;width:600px" placeholder="活動名稱" required name="CActivityName" /></div>
        <div class="form-group" style="text-align: center;" id="_imgClick">
            <img class="upload" id="_imgCgang" src="#" width="600" height="300" onclick="go()" alt="請點擊輸入圖片" />
            <input type="file" id="abc" class="addfile-btn" accept="image/gif, image/jpeg, image/png" style="display:none" onchange="readURL(this)" name="img" />
        </div>
        <div class="form-group" style="text-align: center;"><textarea name="CDescription" cols="70" rows="6" style="font-size:16px" placeholder="活動內容" required></textarea></div>
        <div class="form-group" style="text-align: center;">
            <select name="CLink">
                <option style="display:none">請選擇活動位置</option>
                <option value="/yuActivity/goto_where_page_todo?todopage=1">會員中心 - 儲值</option>
                <option value="/yuActivity/goto_where_page_todo?todopage=2">會員中心 - 套餐</option>
                <option value="/yuActivity/goto_where_page_todo?todopage=3">首頁點餐 - 點餐</option>
                <option value="/yuActivity/goto_where_page_todo?todopage=4">會員註冊 - 註冊</option>
                <option value="/yuActivity/goto_where_page_todo?todopage=5">活動一覽 - 活動</option>
            </select>
        </div>
        <div class="form-group" style="text-align: center;">
            <select name="CStatus">
                <option style="display:none" value="0">請選擇活動狀態</option>
                <option value="0"> 活動關閉</option>
                <option value="1">活動啟動</option>
            </select>
            <input style="display:none" name="CRank" type="text" value="99" />
        </div>

        <div class="form-group" style="text-align: center;margin:10px">
            <input style="margin:10px" type="submit" value="新增" class="btn btn-primary  btn-rounded btn-lg" />
            <input style="margin:10px" class="btn btn-warning  btn-rounded btn-lg" type="reset" value="重新設定" onclick="reset()">
            <input style="margin:10px" class="btn btn-Silver  btn-rounded btn-lg" type="button" onclick="javascript:window.history.go(-1);" value="取消新增">
        </div>
    </form>`
</div>

<script>
    function go() {
        $("#abc").click();
    }
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#_imgCgang").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }

    } function reset() {
        $("#_imgCgang").src = "#";
    }

</script>