/.vs
/BuyFood_Template/bin/Debug
/BuyFood_Template/obj/Debug
/BuyFood_Template/obj/BuyFood_Template.csproj.nuget.g.props
/BuyFood_Template/obj/BuyFood_Template.csproj.nuget.g.targets
/BuyFood_Template/obj/project.assets.json
/BuyFood_Template/obj/project.nuget.cache
/BuyFood_Template/obj/BuyFood_Template.csproj.nuget.dgspec.json
/BuyFood_Template/obj
/.vscode/tasks.json
/.vscode/launch.json
/BuyFood_Template/Properties/PublishProfiles/FolderProfile.pubxml
/BuyFood_Template/Properties/PublishProfiles/FolderProfile.pubxml.user
/BuyFood_Template/Properties/PublishProfiles/FolderProfile1.pubxml
/BuyFood_Template/Properties/PublishProfiles/FolderProfile1.pubxml.user
