@{
    Layout = "_LayoutAd";
}
<head>
    <style>
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<div>
    <iframe  src="https://app.powerbi.com/view?r=eyJrIjoiYTY0ZDgzOTEtOGYzMi00NDZlLWFkNWEtNDBkNmZhNmM2NTkzIiwidCI6ImJiNDQzMDU1LWU1MjUtNGE4OS04MGI3LTNmYzA5ZDYyYTZiMiIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>