@{
    Layout = "_LayoutAd";
}
<head>
    <style>
        iframe {
            position: absolute;
            width: 98%;
            height: 100%;
        }
    </style>

</head>
<div>
    <iframe  src="https://app.powerbi.com/view?r=eyJrIjoiZTliOGE5NGItNGVjNi00YTZmLTgwYmUtN2ZjYjYyMzIxYzZjIiwidCI6ImJiNDQzMDU1LWU1MjUtNGE4OS04MGI3LTNmYzA5ZDYyYTZiMiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>

</div>