@model BuyFood_Template.ViewModels.CProductViewModel

@{
    ViewData["Title"] = "Edit";
}

@{
    Layout = "_LayoutAd";
}

<div><h1>產品修改</h1></div>

<div style="padding-top:50px">
    @Html.ActionLink("返回產品列表", "List", new { }, new { @class = "btn btn-success" })
</div>
<hr />

@{var getCCategoryIdval = Model.CCategoryId; }
<input type="text" id="getCCategoryId"   hidden value="@getCCategoryIdval" />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="CProductId" class="control-label"></label>
                <input asp-for="CProductId" class="form-control" />
                <span asp-validation-for="CProductId" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="CCategoryId" class="control-label"></label>
                <select asp-for="CCategoryId" class="form-control" id="p產品類別下拉選單"></select>
            </div>
            <script>
                var IwannaGetThisForTest = $("#getCCategoryId").val();
                /*  console.log(IwannaGetThisForTest);*/
            </script>


            <div class="form-group">
                <label asp-for="CFinishedTime" class="control-label"></label>
                <input asp-for="CFinishedTime" class="form-control" />
                <span asp-validation-for="CFinishedTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CIsOnSaleId" class="control-label"></label>
                <select class="form-control" asp-for="CIsOnSaleId">
                    <option value="1">正常</option>
                    <option value="2">售完</option>
                    <option value="3">下架</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="CProductName" class="control-label"></label>
                <input asp-for="CProductName" class="form-control" />
                <span asp-validation-for="CProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPrice" class="control-label"></label>
                <input asp-for="CPrice" class="form-control" />
                <span asp-validation-for="CPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CQuantity" class="control-label"></label>
                <input asp-for="CQuantity" class="form-control" />
                <span asp-validation-for="CQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CQuantityControl" class="control-label"></label>
                <input asp-for="CQuantityControl" class="form-control" />
                <span asp-validation-for="CQuantityControl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CDescription" class="control-label"></label>
                <input asp-for="CDescription" class="form-control" />
                <span asp-validation-for="CDescription" class="text-danger"></span>
            </div>

            @{var getProductTageIdval = Model.CProductTagId; }
            <input type="text" id="getProductTageId" hidden value="@getProductTageIdval" />
            <div>
                <label asp-for="CProductTagId" class="control-label"></label>
                <select asp-for="CProductTagId" class="form-control" id="p產品Tag下拉選單"></select>
            </div>
            <script>
                var producttagval = $("#getProductTageId").val();
                console.log(producttagval);
            </script>


            <div class="form-group">
                <label asp-for="CIsBreakFast" class="control-label"></label>
                <select class="form-control" asp-for="CIsBreakFast">
                    <option value="1">販售</option>
                    <option value="0">不販售</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CIsLunch" class="control-label"></label>
                <select class="form-control" asp-for="CIsLunch">
                    <option value="1">販售</option>
                    <option value="0">不販售</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CIsDinner" class="control-label"></label>
                <select class="form-control" asp-for="CIsDinner">
                    <option value="1">販售</option>
                    <option value="0">不販售</option>
                </select>
            </div>


            <div>
                <label for="file-upload" class="custom-file-upload">
                    修改照片 <img src="~/Images/上傳.png" width="80" height="80" />
                </label>
                <input id="file-upload" name="Image" type="file" style="display:none" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    $.ajax({
        url: "/cProduct/getAllProductCategory",
        type: "Get",
        success: function (data) {
                          /*  console.log(data)*/
            txt = "";

            for (let i = 0; i < data.length; i++) {

                txt += `<option value="${data[i].cProductCategoryId}">${data[i].cCategoryName}</option>`

            }
            document.getElementById("p產品類別下拉選單").innerHTML = txt;
            /*document.getElementById("p產品類別下拉選單").selectedIndex = (IwannaGetThisForTest - 1);*/
            $("#p產品類別下拉選單").val(IwannaGetThisForTest);
            
        }
    });

    $.ajax({
        url: "/cProduct/getAllProductTag",
        type: "Get",
        success: function (data) {
           /* console.log(data)*/
            txt = "";

            for (let i = 0; i < data.length; i++) {
                txt += `<option value="${data[i].cProductTagId}">${data[i].cProductTagName}</option>`
            }
            document.getElementById("p產品Tag下拉選單").innerHTML = txt;
            $("#p產品Tag下拉選單").val(producttagval);
        }
    });

</script>

