
@{
    ViewData["Title"] = "ShowOrderDetail";
}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/RatingStars.css" />
    <style>
        .btn-primary {
            background-color: #7FAD39;
        }

        .table-package th, .table-package td {
            border-top: hidden;
        }
    </style>
    <style type="text/css">
        /*
            Use :not with impossible condition so inputs are only hidden
            if pseudo selectors are supported. Otherwise the user would see
            no inputs and no highlighted stars.
        */
        .rating input[type="radio"]:not(:nth-of-type(0)) {
            /* hide visually */
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .rating [type="radio"]:not(:nth-of-type(0)) + label {
            display: none;
        }

        label[for]:hover {
            cursor: pointer;
        }

        .rating .stars label:before {
            content: "★";
        }

        .stars label {
            color: lightgray;
        }

            .stars label:hover {
                text-shadow: 0 0 1px #000;
            }

        .rating [type="radio"]:nth-of-type(1):checked ~ .stars label:nth-of-type(-n+1),
        .rating [type="radio"]:nth-of-type(2):checked ~ .stars label:nth-of-type(-n+2),
        .rating [type="radio"]:nth-of-type(3):checked ~ .stars label:nth-of-type(-n+3),
        .rating [type="radio"]:nth-of-type(4):checked ~ .stars label:nth-of-type(-n+4),
        .rating [type="radio"]:nth-of-type(5):checked ~ .stars label:nth-of-type(-n+5) {
            color: orange;
        }

        .rating [type="radio"]:nth-of-type(1):focus ~ .stars label:nth-of-type(1),
        .rating [type="radio"]:nth-of-type(2):focus ~ .stars label:nth-of-type(2),
        .rating [type="radio"]:nth-of-type(3):focus ~ .stars label:nth-of-type(3),
        .rating [type="radio"]:nth-of-type(4):focus ~ .stars label:nth-of-type(4),
        .rating [type="radio"]:nth-of-type(5):focus ~ .stars label:nth-of-type(5) {
            color: darkorange;
        }

        .checked {
            color: orange;
        }
    </style>
</head>

<div id="page-start" class="position-relative">
    <div class="position-relative m-4">
        <div class="progress" style="height: 6px;">
            <div class="progress-bar" role="progressbar" id="progressBarBlue" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div> @*width: 100% 把線塗顏色*@
        <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 8rem; height:2rem;">餐點製作</button>
        <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 8rem; height:2rem;">運送餐點</button>
        <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 8rem; height:2rem;">到達地點</button>
    </div> @*width: 8rem 調圓圈寬度*@
    <div class="position-relative m-4" style="top:10px">
        <span class="position-absolute top-0 start-0 translate-middle small" style="width: 7rem;" id="TimeOfPreparing">2021/3/9 11:00</span>
        <span class="position-absolute top-0 start-50 translate-middle small" style="width: 7rem;"id="TimeOfTransportation">2021/3/9 11:10</span>
        <span class="position-absolute top-0 start-100 translate-middle small" style="width: 7rem;" id="TimeOfArrival">2021/3/9 11:20</span>
    </div>@*時間*@
<script>
        $(function () {
            $.ajax({
                url: "/OrderDetail/getOrderTime/",
                type:"POST",
                data: { "OrderID":@Model},
                success: function (dataTimeOfPreparing) {
                    //console.log(dataTimeOfPreparing);
                    $("#TimeOfPreparing").html(dataTimeOfPreparing);
                    $.ajax({
                        url: "/OrderDetail/getTimeForSalir/",
                        type: "POST",
                        data: { "dataTimeOfPreparing": dataTimeOfPreparing,"OrderID":@Model },
                        success: function (dataTimeForSalir) {
                            //console.log(dataTimeForSalir);
                            $("#TimeOfTransportation").html(dataTimeForSalir);
                            $.ajax({
                                url: "/OrderDetail/getTimeOfArrival/",
                                type: "POST",
                                data: { "dataTimeOfSalir": dataTimeForSalir,"OrderID":@Model},
                                success: function (dataTimeOfArrival) {
                                    //console.log(dataTimeOfArrival);
                                    $("#TimeOfArrival").html(dataTimeOfArrival);
                                      //===
                                    $.ajax({
                                        url: "/OrderDetail/LetBarMove/",
                                        type: "POST",
                                        async: false,
                                        data: { "OrderID":@Model, "ArriveTime": dataTimeOfArrival },
                                        success: function (data_TimeDistance) {
                                            //現在時間>=製作餐點時間  開始跑bar
                                            console.log(data_TimeDistance);//2400
                                            //現在時間>=到達時間    barProgress= 100%       timeForBar=data_TimeDistance
                                            $.ajax({
                                                url: "/OrderDetail/BiggerThanArrival/",
                                                type: "POST",
                                                data: { "ArriveTime": dataTimeOfArrival },
                                                success: function (data_IsBiggerThanAT) {
                                                    if (data_IsBiggerThanAT == "bigger") {
                                                        $("#progressBarBlue").css("width", "100%");
                                                    }
                                                    else {
                                                        //現在時間 - 訂單成立時間   秒數
                                                        setInterval(function () {
                                                            $.ajax({
                                                                url: "/OrderDetail/CalTheSecs",
                                                                type: "POST",
                                                                data:{ "dataTimeOfPreparing": dataTimeOfPreparing },
                                                                success: function (dataSeconds) {//時間差距
                                                                    var widthPercent = (dataSeconds / data_TimeDistance) * 100;//20sec/2400sec
                                                                    if (widthPercent > 0 && widthPercent<=100) {
                                                                        var wpPut = widthPercent + '%';
                                                                        $("#progressBarBlue").css("width", `${wpPut}`);
                                                                        //if (widthPercent >= 100) {
                                                                        //    //==進去改變資料狀態
                                                                        //    $(".theStatusForChange").text('已到達');
                                                                        //}
                                                                    }
                                                                }
                                                            });
                                                        }, 500);




                                                    }
                                                }
                                            });


                                        }
                                    });



                                    //===
                                }
                            })
                        }
                    })




                }


            });






        })


</script>

    <div class="container" style="margin:50px;" id="AdressForDetail">

    </div>
    <script>
        var text = "";
        $.ajax({
            url: "/OrderDetail/getOrderAdress/",
            type: "POST",
            data: { "OrderID":@Model},
            success: function (data) {
                $.ajax({
                    url: "/OrderDetail/getMember/",
                    type: "POST",
                    data: { "OrderID":@Model},
                    success: function (response) {
                        for (let i = 0; i < response.length; i++) {
                            text = `
                                            <h3>收件地址</h3>
                                            <p>${response[i].cName}</p>
                                            <p>${response[i].cPhone}</p>
                                            <p>${data[i].cArrivedAddress}</p>`;
                        }
                        $("#AdressForDetail").html(text);
                    }
                });
            }
        });
    </script>

    <div class="container" style="margin:50px;">
        @*訂單詳細*@
        <div class="row">
            <div class="col-12">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col">序號</th>
                            <th scope="col">照片</th>
                            <th scope="col">商品名稱</th>
                            <th scope="col">數量</th>
                            <th scope="col">訂單金額</th>
                            <th scope="col">訂單狀態</th>
                            <th scope="col">評分狀態</th>
                        </tr>
                    </thead>
                    <tbody id="StartOfDetails">
                        @*訂單詳細商品部分開始*@



                        @*訂單詳細商品部分結束*@
                        <tr>
                            <th scope="row"></th>
                            <td class=""></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <table class="table-package">
                                    <tr>
                                        <th> </th>
                                        <td>
                                            小計
                                        </td>
                                    </tr>
                                    <tr>
                                        <th> </th>
                                        <td>
                                            折扣
                                        </td>
                                    </tr>
                                    <tr>
                                        <th> </th>
                                        <td>
                                            訂單金額
                                        </td>
                                    </tr>
                                    <tr>
                                        <th> </th>
                                        <td>
                                            付款方式
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table-package" id="howToPay">
                                    <tr>
                                        <th> </th>
                                        <td>
                                            $500
                                        </td>
                                    </tr>
                                    <tr>
                                        <th> </th>
                                        <td>
                                            $0
                                        </td>
                                    </tr>
                                    <tr>
                                        <th> </th>
                                        <td>
                                            $500
                                        </td>
                                    </tr>
                                    <tr>
                                        <th> </th>
                                        <td>
                                            擺腹幣
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<script>

</script>
<script>

                            var text = "";
                            $.ajax({
                                url: "/OrderDetail/getOrderDetail/",
                                type: "POST",
                                data: { "OrderID":@Model},
                                success: function (data) {
                                    //console.log(data[0]);

                                    for (let i = 0; i < data.length; i++) {
                                        var stars = "";
                                        var count = data[i].cScores;
                                        var oDetailID = data[i].cOrderDetailId;
                                        var Scorebutton = `ScoreIt${oDetailID}`;
                                        let countForEveryLoopInOD = 1;
                                        for (let i = 0; i < count; i++)
                                        {
                                            stars += `<span class="fa fa-star checked"></span>`;
                                        }
                                        if (count == null) {
                                            data[i].cReview = "尚未評分";
                                        }
                                        if (data[i].cFeedBackStatus == 0)
                                        {
                                            data[i].cReview = "該則評論已被管制";
                                            stars = `<p>評分不列入計算</p>`;
                                        }

                                        text += `<tr>
                                                        <th scope="row">${countForEveryLoopInOD}</th>
                                                        <td class="w-25">
                                                        <img src="${data[i].cPicture.replace("~", "")}" class="img-fluid img-thumbnail" alt="Sheep">
                                                        </td>
                                                        <td>${data[i].cProductName}</td>
                                                        <td>${data[i].cQuantity}</td>
                                                        <td>$${data[i].cLittlePrice}</td>
                                                        <td>${data[i].cOrderStatusName}</td>
                                                        <td id="ScoreStatus${oDetailID}">${stars}<p>${data[i].cReview}</p></td>
                                                        </tr>`;
                                        countForEveryLoopInOD+=1;
                                        text +=`<tr>
                                                       <th scope="row"></th>
                                                       <td class="">
                                                       </td>
                                                       <td></td>
                                                       <td></td>
                                                       <td></td>
                                                       <td><button type="button" class="btn btn-outline-success" onclick="window.location='/ProductDetail/ProductData?id=${data[i].cProductId}';">回到產品</button></td>`

                                        if (count == null) {
                                            if (data[i].cOrderStatusName != "已結單") {
                                                text += `<td><button type="button" class="btn btn-outline-success" id="ScoreIt${data[i].cOrderDetailId}" onclick="StartScore('ScoreStatus${oDetailID}')" disabled>進行評分</button></td>`;
                                                $('#' + Scorebutton).prop('disabled', true);
                                            }
                                            else {
                                                text += `<td><button type="button" class="btn btn-outline-success" id="ScoreIt${data[i].cOrderDetailId}" onclick="StartScore('ScoreStatus${oDetailID}')">進行評分</button></td>`;
                                            }
                                            
                                        }
                                        else {
                                            text += `<td><button type="button" class="btn btn-outline-success" id="ScoreIt${data[i].cOrderDetailId}" disabled>完成評分</button></td>`;
                                            /*$(`#${Scorebutton}`).prop('disabled', true);*/
                                            $('#' + Scorebutton).prop('disabled', true);
                                        }

                                        text += `</tr>`;



                                        //===========   For迴圈結尾
                                    }
                                    $("#StartOfDetails").prepend(text);

                                                                                //結帳方式
                                    var ltTotal = 0;

                                    for (let i = 0; i < data.length; i++) {
                                        ltTotal += data[i].cLittlePrice;
                                    }



                                        var HowToPayText = "";
                                        $.ajax({
                                            url:"/OrderDetail/getHowToPay/",
                                            type: "POST",
                                            data: {"OrderID":@Model},
                                            success: function (response) {
                                                HowToPayText = `<tr>
                                                                                <th> </th>
                                                                                <td>
                                                                                    $${ltTotal}
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th> </th>
                                                                                <td>
                                                                                    $${response.cCutPrice}
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th> </th>
                                                                                <td>
                                                                                    $${ltTotal - response.cCutPrice}
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th> </th>
                                                                                <td>
                                                                                    ${response.cPayType}
                                                                                </td>
                                                                            </tr>`;

                                                $("#howToPay").html(HowToPayText);

                                            }
                                        });

                                }
                            });
                            //===========
                            //===========轉換成評分輸入

                            //====================onclick="AddScores(${data[i].cProductId})"
                            //儲存評分
                            $("#ScoreIt").click(function () {
                                $("#ScoreStatus").html(giveAScore);

                                (function () {
                                    var rating = document.querySelector('.rating');
                                    var handle = document.getElementById('toggle-rating');
                                    handle.onchange = function (event) {
                                        rating.classList.toggle('rating', handle.checked);
                                    };
                                });

                            });


                            //變化成評分頁面
                            function StartScore(OrderDetailID) {




                                var giveAScore = `<fieldset class='rating'><legend>請評價</legend >
                            <input id='${OrderDetailID}demo-1' type='radio' name='${OrderDetailID}demo' value='1'>
                            <label for='${OrderDetailID}demo-1'>1 star</label>
                            <input id='${OrderDetailID}demo-2' type='radio' name='${OrderDetailID}demo' value='2'>
                            <label for='${OrderDetailID}demo-2'>2 stars</label>
                            <input id='${OrderDetailID}demo-3' type='radio' name='${OrderDetailID}demo' value='3'>
                            <label for='${OrderDetailID}demo-3'>3 stars</label>
                            <input id='${OrderDetailID}demo-4' type='radio' name='${OrderDetailID}demo' value='4'>
                            <label for='${OrderDetailID}demo-4'>4 stars</label>
                            <input id='${OrderDetailID}demo-5' type='radio' name='${OrderDetailID}demo' value='5'>
                            <label for='${OrderDetailID}demo-5'>5 stars</label>
                            <div class='stars'>
                            <label for='${OrderDetailID}demo-1' aria-label='1 star' title='1 star'></label>
                            <label for='${OrderDetailID}demo-2' aria-label='2 stars' title='2 stars'></label>
                            <label for='${OrderDetailID}demo-3' aria-label='3 stars' title='3 stars'></label>
                            <label for='${OrderDetailID}demo-4' aria-label='4 stars' title='4 stars'></label>
                            <label for='${OrderDetailID}demo-5' aria-label='5 stars' title='5 stars'></label>
                            </div>
                            </fieldset>


                             <input type='text' class='form-control' id='${OrderDetailID}inputComment' placeholder='輸入您的評語'>
                             <input class='btn btn-primary' type='button' value='評分' onclick="AddScores('${OrderDetailID}')">`;
                                $('#' + OrderDetailID).html(giveAScore);


                                (function () {
                                    var rating = document.querySelector('.rating');
                                    var handle = document.getElementById('toggle-rating');
                                    handle.onchange = function (event) {
                                        rating.classList.toggle('rating', handle.checked);
                                    };
                                });





                            }

                            function AddScores(id) {
                                var names = id + 'demo';
                                var InputID = id + 'inputComment';
                                //console.log(names);//ScoreStatus80demo
                                //console.log(`${id}demo`);//ScoreStatus80demo
                                //console.log(id);//ScoreStatus80

                                var starValue = $(`input[name='${names}']:checked`).val();

                                var reviewValue = $('#' + InputID).val();

                                var detailID = id.substr(11);


                                $.ajax({
                                    url: "/OrderDetail/getDetailValue/",
                                    type: "POST",
                                    data: { "StarValue": starValue, "ReviewInput": reviewValue, "orderdetailID": detailID},
                                    success: function (ratingData)
                                    {

                                        var ReScorebutton = `ScoreIt${detailID}`;
                                        var Restars = "";
                                        for (let i = 0; i < starValue; i++)
                                        {
                                            Restars += `<span class="fa fa-star checked"></span>`;
                                        }
                                        Restars += `<p>${reviewValue}</p>`;

                                        //刷新評價
                                        $('#' + id).html(Restars);
                                        //disable按鈕
                                        $('#' + ReScorebutton).prop('disabled', true);
                                        $('#' + ReScorebutton).html('完成評分');
                                    }
                                });



                            }
</script>
<script type="text/javascript">

</script>
<script>

</script>