@{
    Layout = "_LayoutAd";
}
@model BuyFood_Template.ViewModels.CProductViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>產品修改</h1>
<div>
    @Html.ActionLink("返回產品列表", "List", new { }, new { @class = "btn btn-success" })
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="CProductId" class="control-label"></label>
                <input asp-for="CProductId" class="form-control" />
                <span asp-validation-for="CProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEatTimeId" class="control-label"></label>
                <input asp-for="CEatTimeId" class="form-control" />
                <span asp-validation-for="CEatTimeId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="CCategoryId" class="control-label"></label>
                    <input asp-for="CCategoryId" class="form-control" />
                    <span asp-validation-for="CCategoryId" class="text-danger"></span>
                </div>*@
            <div>
                @*產品類別
                    @Html.DropDownListFor(m => m.CategoryIdComBox回傳, Model.CcategoryComBox, new { @class = "form-control" })*@
            </div>

            <select name="CCategoryId">

                @{
                    擺腹BuyFoodContext db = new 擺腹BuyFoodContext();
                    var q = from n in db.TProductCategories
                            select n;

                    foreach (var x in q)
                    {
                        <option asp-for="CCategoryId" value="@x.CProductCategoryId">@x.CCategoryName</option>
                    }
                }

            </select>



            <div class="form-group">
                <label asp-for="CIsOnSaleId" class="control-label"></label>
                <input asp-for="CIsOnSaleId" class="form-control" />
                <span asp-validation-for="CIsOnSaleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CProductName" class="control-label"></label>
                <input asp-for="CProductName" class="form-control" />
                <span asp-validation-for="CProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPrice" class="control-label"></label>
                <input asp-for="CPrice" class="form-control" />
                <span asp-validation-for="CPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CQuantity" class="control-label"></label>
                <input asp-for="CQuantity" class="form-control" />
                <span asp-validation-for="CQuantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CDescription" class="control-label"></label>
                <input asp-for="CDescription" class="form-control" />
                <span asp-validation-for="CDescription" class="text-danger"></span>
            </div>

            <div>
                <label for="file-upload" class="custom-file-upload">
                    修改照片 <img src="~/Images/上傳.png" width="80" height="80" />
                </label>
                <input id="file-upload" name="Image" type="file" style="display:none" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



