@model BuyFood_Template.ViewModel.CCustomerCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/fonts/create_material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/create_style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>

        body {
            padding: 0px;
            background-color: white;
        }

        .header_top {
            background-color: #F5F5F5;
        }

        .col-lg-6 div {
            background-color: #F5F5F5;
        }

        .col-md-6 {
            background-color: #F5F5F5;
        }

        input[type=radio] {
            margin: 1px;
        }
    </style>

</head>



<div class="signup-content">
    <div class="signup-form" style="margin-left:210px; width:100%; box-shadow:4px 4px 8px 8px #cccccc;">
        <form asp-action="Create" enctype="multipart/form-data" method="post" class="register-form" id="register-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>註冊</h2>
            <div class="form-group">
                <input asp-for="CFacebookID" class="form-control" style="display:none" id="CFacebookID" value="@ViewBag.FBUSERID" readonly />
                <span asp-validation-for="CFacebookID" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="CName" for="name">*姓名 :</label>
                    <input asp-for="CName" id="name" required value="@ViewBag.FBUSERNAME" readonly />
                    <span asp-validation-for="CName" class="text-danger" id="spname"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CEmail" for="email" style="position:relative">*Email(帳號) :</label>
                <input asp-for="CEmail" id="CEmail" required />
                <span asp-validation-for="CEmail" class="text-danger" id="spemail"></span>
                <label style="color:red" id="WrongEmail"></label>
            </div>
            <div class="form-radio">
                <label asp-for="CGender" for="gender" style="padding-right:20px;">*性別 :</label>
                <div class="form-check form-check-inline">
                    @*暫時替代*@
                    <input asp-for="CGender" id="inlineRadio1">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="CAge" for="age">*生日 :</label>
                    <input asp-for="CAge" type="date" id="age" required />
                    <span asp-validation-for="CAge" class="text-danger" id="spage"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CAddress" for="address">*地址 :</label>
                <input asp-for="CAddress" id="address" required />
                <span asp-validation-for="CAddress" class="text-danger" id="spaddress"></span>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="CPhone" for="name">*手機 :</label>
                    <input asp-for="CPhone" id="phone" required />
                    <span asp-validation-for="CPhone" class="text-danger" id="spphone"></span>
                </div>
            </div>
            <label asp-for="CPicture" style="position:relative">上傳頭像 :</label>
            <input type="file" name="img" id="image" style="padding:0px; border:none" />
            <span asp-validation-for="CPicture" class="text-danger" id="spimg"></span>

            <div class="form-row">
                <div class="form-group">
                    <label for="code">邀請碼 :</label>
                    <input type="text" name="code" id="code" />
                </div>
            </div>

            <div class="form-submit">
                <input type="button" value="Reset All" class="submit" name="reset" id="reset" onclick='(function () {
    document.getElementById("inlineRadio1").value = "";
    document.getElementById("address").value = "";
    document.getElementById("phone").value = "";
        document.getElementById("code").value = "";
                            })()' />
                <input type="button" value="確認註冊" class="submit" name="submit" id="submit" onclick="submitData()" />
            </div>

            <div class="form-submit">
                <input type="button" value="Demo" class="btn btn-primary"
                       onclick='(function () {
        document.getElementById("CEmail").value = "dio@Gmail.com";
    document.getElementById("inlineRadio1").value = "男";
    document.getElementById("address").value = "台北市復興南路一段390號2樓";
    document.getElementById("phone").value = "0971364875";
    allPass();
                            })()' />
            </div>

        </form>
    </div>
</div>


<!-- JS -->
<script src="~/vendor/jquery/create_jquery.min.js"></script>
<script src="~/js/create_main.js"></script>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

<script>
    $(function closeChat() {
        $("#sidebar_secondary").css("display", "none")
        $("#addClass").css("display", "none")
    })
</script>


<script>
    document.getElementById("address").onblur = checkAddress;
    document.getElementById("phone").onblur = checkPhone;
    document.getElementById("age").onblur = checkAge;
    document.getElementById("inlineRadio1").onblur = checkGender;
    document.getElementById("CEmail").onblur = checkEmail;

    flagCheckAge = false, flagCheckAddress = false, flagCheckGender = false, flagCheckPhone = false, flagCheckEmail = false;

    function allPass() {
        flagCheckAge = true, flagCheckAddress = true, flagCheckGender = true, flagCheckPhone = true, flagCheckEmail = true;
    }

    function checkEmail() {
        let emailVal = document.getElementById("CEmail").value;
        let spObj = document.getElementById("WrongEmail");

        if (emailVal == "") {
            spObj.innerHTML = "不可空白";
            flagCheckEmail = false;
        }
        else {
            spObj.innerHTML = "";
            flagCheckEmail = true;
        }
    }

    function checkGender() {
        let genderVal = document.getElementById("inlineRadio1").value;
        let spObj = document.getElementById("WrongGender");

        if (genderVal == "") {
            spObj.innerHTML = "不可空白";
            flagCheckGender = false;
        }
        else {
            spObj.innerHTML = "";
            flagCheckGender = true;
        }
    }

    function checkAddress() {
        let addressVal = document.getElementById("address").value;
        let spObj = document.getElementById("WrongAddress");

        if (addressVal == "") {
            spObj.innerHTML = "不可空白";
            flagCheckAddress = false;
        }
        else {
            spObj.innerHTML = "";
            flagCheckAddress = true;
        }
    }

    function checkPhone() {
        let phoneVal = document.getElementById("phone").value;
        let spObj = document.getElementById("WrongPhone");

        if (phoneVal == "") {
            spObj.innerHTML = "不可空白";
            flagCheckPhone = false;
        }
        else {
            spObj.innerHTML = "";
            flagCheckPhone = true;
        }
    }

    function checkAge() {
        let ageVal = document.getElementById("age").value;
        let spObj = document.getElementById("WrongAge");

        if (ageVal == "") {
            spObj.innerHTML = "不可空白";
            flagCheckAge = false;
        }
        else {
            spObj.innerHTML = "";
            flagCheckAge = true;
        }
    }

    function submitData() {
        var msg = "確定註冊?";

        if (confirm(msg) == true) {
            if (flagCheckAddress == true && flagCheckAge == true && flagCheckGender == true && flagCheckPhone == true && flagCheckEmail == true) {
                checkAll();
            }
            else {
                alert("請檢察必填資料是否正確")
            }
        }
        else {
            return false;
        }
    }


    function checkAll() {
        var newMember = {};

        newMember.CFacebookID = $("#CFacebookID").val();
        newMember.CAddress = $("#address").val();
        newMember.CPhone = $("#phone").val();
        newMember.CGender = $("#inlineRadio1").val();
        newMember.CAge = $("#age").val();
        newMember.CName = $("#name").val();
        newMember.code = $("#code").val();
        newMember.CEmail = $("#CEmail").val();

        $.ajax({
            url: "/Customer/CreateNewFacebookMember",
            type: "POST",
            data: JSON.stringify(newMember),
            dataType: "Json",
            processData: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(newMember);

               if (data == "PhoneRepeat") {
                    alert("此手機已被註冊");
                }
               else if (data == "EmailRepeat") {
                   alert("此Email已被註冊");
               }
                else if (data == true) {

                    doImgUpload();

                    alert("資料輸入成功 將返回登入頁面");
                    window.location.assign("/HomePage/登入");
                }
                else {
                    alert("不知道哪裡錯ㄌ 請聯絡客服人員");
                }
            }
        });
    }

    function doImgUpload() {
        const formdata = new FormData();
        formdata.append('photo', $('input[type=file]')[0].files[0]);
        formdata.append('CPhone', $("#phone").val())
        fetch('/Customer/UploadImage', {
            method: 'POST',
            body: formdata
        }).then(function (response) {
            return response.json();
        });
    }

</script>