@{
    Layout = "_LayoutAd";
}
@model IEnumerable<BuyFood_Template.ViewModels.yuActivityViewModel>

<link href="~/assets/NEW CSS/NEWCSS.css" rel="stylesheet" />
<link href="~/assets/NEW CSS/page.css" rel="stylesheet" />

<div class="box-module">
    <div class="box-title">狀態分類</div>
    <div class="box-content padding15">
        <a href="javascript: void(0)" id="All">
            <div class="clearfix col-xs-6 col-sm-2 padding5">
                <div class="statusbox bg-green">
                    <div class="status_amount"> </div>
                    <div class="status_name bg_color_green">進行中活動數</div>
                </div>
            </div>
        </a>
        <a href="javascript: void(0)" id="Going" >
            <div class="clearfix col-xs-6 col-sm-2 padding5">
                <div class="statusbox bg-red">
                    <div class="status_amount"> </div>
                    <div class="status_name bg_color_red">已開啟輪播</div>
                </div>
            </div>
        </a>
        <a href="javascript: void(0)" id="Close">
            <div class="clearfix col-xs-6 col-sm-2 padding5">
                <div class="statusbox bg-azure">
                    <div class="status_amount"></div>
                    <div class="status_name bg_color_azure">未開啟輪播</div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="box-module">
    <div class="box-title" id="Activitytitle">
        <div style="float: left">活動列表</div>
        <div id="warning" style="background-color: #ffd800;float:left;width:400px;margin-left:40px;display:none">已啟用表格拖曳功能,右方操作功能亦可使用。</div>
    </div>

    <div id="yuActivityt">


        <input value="" style="display:none;" />
    </div>
</div>

<!-- BEGIN PAGA BACKDROPS-->
<div class="sidenav-backdrop backdrop"></div>
<div class="preloader-backdrop">
    <div class="page-preloader">Loading</div>
</div>
<!-- END PAGA BACKDROPS-->

<script>
    //進入此頁面執行
    var what_str = "All";
    $(Activity(what_str), updateTOP());
    $("#All").click(function () { what_str = "All"; Activity(what_str) })
    $("#Going").click(function () { what_str = "Going"; Activity(what_str) })
    $("#Close").click(function () { what_str = "Close"; Activity(what_str) })

    function updateTOP() {
        $.ajax({
            url: "/yuActivityRun/ActivityupdateTOP",
            type: "get",
            success: function (data) {
                $("#All .status_amount").html(data.all)
                $("#Going .status_amount").html(data.going)
                $("#Close .status_amount").html(data.close)
            }
        })
    }


    function Activity(str) {

        $.ajax({
            url: "/yuActivityRun/ActivityListJson?str=" + str,
            type: "GET",
            success: function (data) {
                console.log(data);
                var txttable = "";
                var rank = "";

                txttable +=
                    `<div id="orderlist">
                            <table class="table table-hover table_striped table-bordered border" id="myTable">
                            <thead>
                            <tr>
                             <th class="align" width="5%">輪播順序</th>
                             <th class="align" width="15%">活動名稱</th>
                             <th width="35%" class="align">活動相片</th>
                             <th class="align" width="5%">活動連結</th>
                             <th width="15%" class="align">活動開啟時間</th>
                             <th class="align" width="10%">狀態</th>
                              <th width="10%" class="align" style="display:none" name="btnUD">操作</th>
                             </tr>
                             </thead>
                             <tbody id="yuActivitytbody" class="sortable">`

                for (let i = 0; i <= data.length - 1; i++) {
                    var ranknum = ""; var btnUpDown = "";
                    if (data[i].cRank == 99) {
                        rank = `<a  class="btn btn-Grey " onclick="ActivityRun_status(${data[i].cActivityId})" >未開啟`
                        ranknum = `<td style="vertical-align: middle;visibility: hidden" >${data[i].cRank}`
                    } else {
                        rank = `<a  class="btn " style="background-color:#00ff21" onclick="ActivityRun_status(${data[i].cActivityId})">已啟用`
                        ranknum = `<td style="vertical-align: middle;" name="categoryids">${data[i].cRank}`
                        btnUpDown = '<a href = "javascript: void(0)" class="up" > 上移</a > <a href="javascript: void(0)" class="down"  >下移</a> <a href="javascript: void(0)" class="top">置頂</a>'
                    }

                    txttable += `
                                <tr style = "text-align:center" value="${data[i].cActivityId}"> ${ranknum}
                                <td style="vertical-align: middle;">${data[i].cActivityName}
                                <td style="vertical-align: middle;"><img src="${data[i].cPicture}" alt="your image"  height="150" width="350" />
                                <td style="vertical-align: middle;"><a class="btn btn-info" href="${data[i].cLink}">測試連結
                                <td style="vertical-align: middle;">${data[i].cTime}
                                <td style="vertical-align: middle;">${rank}
                                <td style="vertical-align: middle;display:none" name="btnUD">${btnUpDown}`
                }
                txttable += ` </tbody>
                                </table>
                                </div>`

                $("#yuActivityt").html(txttable);

                $('#myTable').DataTable({
                    language: {
                        "emptyTable": "無資料...",
                        "processing": "處理中...",
                        "loadingRecords": "載入中...",
                        "lengthMenu": "每頁 _MENU_ 筆資料",
                        "zeroRecords": "無搜尋結果",
                        "info": "_START_ 至 _END_ / 共 _TOTAL_ 筆",
                        "infoEmpty": "尚無資料",
                        "infoFiltered": "(從 _MAX_ 筆資料過濾)",
                        "infoPostFix": "",
                        "search": "搜尋字串:",
                        "paginate": {
                            "first": "首頁",
                            "last": "末頁",
                            "next": "下頁",
                            "previous": "前頁"
                        },
                        "aria": {
                            "sortAscending": ": 升冪",
                            "sortDescending": ": 降冪"
                        }
                    }
                });
                if (str == "Going") {
                    var newtxt = `<button id="btnstartRank" style="background-color:#4cff00" class="btn btn-Silver btn-rounded">修改順序</button>
                        <a name="entermake" id="btnEnter" class="btn btn-outline-success btn-rounded" style="display:none">確認修改</a>
                        <a name="entermake" id="btnremove" class="btn btn-outline-success btn-rounded" style="display:none">取消修改</a>`

                    $("#myTable_length").append(newtxt);
                }

                //取消按鈕做事件
                $("#btnremove").click(function () {
                    makesortable = !makesortable;
                    YesOrNo();  //寫好的方法
                    $(".sortable").sortable(false);
                    Activity('Going');
                });

                //確認修改做事件
                $("#btnEnter").click(function () {
                    makesortable = !makesortable;
                    YesOrNo();

                    var $Array = new Array;
                    var $tr = $(".sortable tr")
                    for (let i = 0; i < $tr.length; i++) {
                        var data = {};
                        //console.log($tr[i].attributes["Value"]);
                        data.strmember = $tr[i].attributes["Value"].nodeValue
                        $Array.push(data);
                    }
                    /*                    console.log($Array);*/
                    //傳回TABLE 資料 後台做修改
                    $.ajax({
                        type: "POST",
                        contentType: "application/json;charset=utf-8",
                        url: "/yuActivityRun/moveRand",
                        data: JSON.stringify($Array),
                        success: function (data) {
                            Activity('Going');
                        }
                    })

                });

                //點擊修改做事件

                $("#btnstartRank").click(function () {
                    makesortable = !makesortable;
                    YesOrNo();   //寫好的方法

                    $("#yuActivitytbody").sortable({    //新增可拖曳事件
                        cursor: "move",
                        items: "tr",                       //只是tr可以拖動
                        opacity: 1.0,                      //拖動時，透明度為0.6
                        revert: true,                      //釋放時，增加動畫
                        update: function (event, ui) {      //更新排序之後
                            var categoryids = $(this).sortable("toArray");
                            var $this = $(this);


                        }
                    });
                    $(".sortable").disableSelection();



                    //上移
                    var $up = $(".up")
                    $up.click(function () {
                        var $tr = $(this).parents("tr");
                        if ($tr.index() != 0) {
                            $tr.fadeOut().fadeIn();
                            $tr.prev().before($tr);
                        }
                    });
                    //下移
                    var $down = $(".down");
                    var len = $down.length;
                    $down.click(function () {
                        var $tr = $(this).parents("tr");
                        if ($tr.index() != len - 1) {
                            $tr.fadeOut().fadeIn();
                            $tr.next().after($tr);
                        }
                    });
                    //置頂
                    var $top = $(".top");
                    $top.click(function () {
                        var $tr = $(this).parents("tr");
                        $tr.fadeOut().fadeIn();
                        $(".table").prepend($tr);
                        $tr.css("color", "#f60");
                    });
                });


                var makesortable = false;

                function YesOrNo() {
                    if (makesortable) {
                        $("[name='entermake']").show();
                        $("[name='btnUD']").show();
                        $("#warning").show();
                        $("#btnstartRank").hide();
                    } else {
                        $("[name='entermake']").hide();
                        $("[name='btnUD']").hide();
                        $("#warning").hide();
                        $("#btnstartRank").show();

                    }
                }

                //在此增加更多程式碼
               





            }
        });
    };
    function ActivityRun_status(id) {
        $.ajax({
            url: "/yuActivityRun/ActionUpRank?id=" + id,
            type: "get",
            success: function () {
                $(Activity(what_str));
                updateTOP();
            }
        })
    }


</script>


@*參考出處https://elliotttravel.blogspot.com/2015/01/jquery-ui-sortable.html*@