@{
    Layout = "_LayoutAd";
}
<head>
    <style>
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>

</head>
<div>
    <iframe  src="https://app.powerbi.com/view?r=eyJrIjoiMTJmOWEyYWUtZDhmZS00ZTNjLThlNTAtNDE0ZGNiMzM5MGRiIiwidCI6IjYxOGI3NzA2LTE5ZjUtNDU1OC04ZTM4LWU1YzdhN2Q5YTFkYSIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>