


#mwt_mwt_slider_scroll {
    top: 300px;
    left: -200px;
    width: 200px;
    position: absolute;
    z-index: 1; /*優先級*/
}

#mwt_slider_content {
    background: #3c5a98;
    text-align: center;
/*    padding-top: 20px;*/
    position: relative;
   /* width:auto;*/

}

#mwt_slider_content>button{
    margin-top:20%;
    width:100%;
    font-size:larger;


}



#mwt_fb_tab {
    position: absolute;
    top: 20px;
    right: -24px;
    width: 24px;
    background: #3c5a98;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    text-align: center;
    padding: 9px 0;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
 
}

    #mwt_fb_tab span {
        display: block;
        height: 12px;
        padding: 1px 0;
        line-height: 30px;
        text-transform: uppercase;
        font-size: 30px;
  
    }
