@model List<BuyFood_Template.ViewModels.CouponProperty>
@{
    ViewData["Title"] = "CurrentCartItem";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>

<body>
    <!-- Page Preloder -->
    @*<div id="preloder">
            <div class="loader"></div>
        </div>*@

    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    
    <!-- Hero Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="@Url.Content("~/img/breadcrumb.jpg")">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>您的購物車</h2>
                        <div class="breadcrumb__option">
                            @*<a href="/HomePage/Home">回到首頁</a>
                            <span>查看更多訊息</span>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">商品名稱</th>
                                    <th>價格</th>
                                    <th>數量</th>
                                    <th>小計</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="show_cart">
                                @*動態顯示購物車內容*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a asp-controller="HomePage" asp-action="Home" class="primary-btn cart-btn" style="background-color:lightblue; color:black">繼續購物=></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>勾選並填入要使用的優惠券</h5>
                            <input id="check_is_used" type="checkbox" /><br>
                            <input id="input_coupon_code" type="text" disabled />
                            <button id="check_coupon" class="site-btn" style="margin-left:50px">檢查優惠券代碼</button>
                            <h6 class="text_show_discount" id="coupon_discount">目前無使用優惠券</h6>
                        </div>
                        <input class="btn_check_coupon" id="search_coupon_enable" type="button" value="查看可用的優惠券" disabled />
                    </div>
                    <fieldset class="" id="show_coupon_list"></fieldset>  @*動態查詢可用的優惠券*@
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>購物車金額計算</h5>
                        <ul>
                            <li>總金額 <span id="origin_price">$0</span></li>
                            <li>折扣金額 <span id="off_price">$0</span></li>
                            <li>結帳金額 <span id="cart_total_price">$0</span></li> @*動態顯示總價格*@
                        </ul>
                        <input id="send_order" type="button" class="primary-btn" onclick="SendOrder()" value="購物車結帳">
                    </div>
                </div>
            </div>
        </div>
        <section class="shoping-cart spad" style="margin-bottom:50px;">
            <h4>你可能也喜歡..</h4>
            <fieldset class="border_color_style">
                <div id="show_favorite_item"></div>  @*建立喜愛商品列表*@
            </fieldset>
        </section>
    </section>
    <!-- Shoping Cart Section End -->

    <!-- Js Plugins -->
    <div style="font-family:'Ink Free';font-size:50px;padding-top:100px"></div>
    <div style="display:none" class="footer__copyright__payment"><img src="~/img/payment-item.png" alt=""></div>
    <script src="~/js/ShoppingCart_JS/CurrentShoppingCart.js"></script>

</body>

</html>