@{
    Layout = "_LayoutAd";
}

<link href="~/assets/NEW CSS/NEWCSS.css" rel="stylesheet" />
<link href="~/assets/NEW CSS/page.css" rel="stylesheet" />

<div class="box-module height100b margin0">
    <div class="box-title">個人信息</div>
    <div class="box-content padding15">

        <!--個人信息-->
        <div class="add_content clearfix mt15">
            <div class="clearfix" id="user_details">

                <ul class="info_list" id="VerifyTips">
                    <li class="clearfix content_look mb15">
                        <label class="label_name">用戶頭像：</label>
                        <span class="info_data">
                            <div class="gradeimg-style">
                                <div class="Upload-screenshot">
                                    <img class="addImg" src="images/zjbg_03.png" onerror="this.src='images/zjbg_03.png',this.onerror=null">
                                    <input name="url" type="file" class="upload_input" accept="image/*">
                                    <input type="hidden" id="img" name="img">
                                    <div class="preBlock">
                                        <img class="preview" alt="" name="pic" onerror="this.src='images/zjbg_03.png',this.onerror=null">
                                    </div>
                                    <img class="delete" src="images/delete.png">
                                </div>
                            </div>
                        </span>
                    </li>
                    <li class=" clearfix content_look mb15">
                        <label class="label_name"><em style="color:Red;">*</em>用戶名：</label>
                        <span class="info_data"><input data-name="用戶名" type="text" value="尤智智" name="Required" class="text_input col-sm-4" data-verify="verify"></span>
                    </li>
                    <li class=" clearfix content_look mb15">
                        <label class="label_name">性別：</label>
                        <span class="info_data">

                            <input data-name="性別" type="text" name="" value="男" class="text_input col-sm-4" data-verify="verify">

                        </span>
                    </li>
                    <li class=" clearfix content_look mb15">
                        <label class="label_name">年齡：</label>
                        <span class="info_data"><input data-name="年齡" type="text" name="" value="28" class="text_input col-sm-4" data-verify="verify"></span>
                    </li>
                    <li class=" clearfix content_look mb15">
                        <label class="label_name"><em style="color:Red;">*</em>部門：</label>
                        <span class="info_data"><input data-name="部門" name="Required" value="技術部" type="text" class="text_input col-sm-4" data-verify="verify"></span>
                    </li>
                    <li class=" clearfix content_look mb15">
                        <label class="label_name"><em style="color:Red;">*</em>職位：</label>
                        <span class="info_data"><input data-name="職位" name="Required" value="程式設計師" type="text" class="text_input col-sm-4" data-verify="verify"></span>
                    </li>
                    <li class=" clearfix content_look mb15">
                        <label class="label_name">角色：</label>
                        <span class="info_data">




                            <input data-name="角色" type="text" class="text_input" value="普通管理員" readonly="readonly">




                            <em style="color:#999999; margin-left: 10px;">該角色由最高權限管理員修改</em>
                        </span>
                    </li>
                    <li class=" clearfix content_look mb15">
                        <label class="label_name"><em style="color:Red;">*</em>手機：</label>
                        <span class="info_data"><input data-name="手機號碼" name="Required" type="text" value="18923456789" class="text_input col-sm-4" data-prompt="phone" data-verify="verify"></span>
                    </li>
                    <li class=" clearfix content_look mb15">
                        <label class="label_name"><em style="color:Red;">*</em>郵箱：</label>
                        <span class="info_data"><input data-name="郵箱" name="Required" type="text" value="12344@@gmail.com" class="text_input col-sm-4" data-prompt="mailbox" data-verify="verify"></span>
                    </li>
                    <li class=" clearfix content_look mb15">
                        <label class="label_name">說明：</label>
                        <span class="info_data">
                            <textarea data-name="說明" name="" class="form-textarea textarea-info" id="form_textarea" placeholder="">注意安全操作</textarea>
                            <span class="word_count">剩餘字數 :<em class="colorred number">194</em>字符</span>
                        </span>
                    </li>
                </ul>

            </div>
            <div class="buttonstyle"><button type="button" class="btn padding10 bg-deep-blue" onclick="modifybtn()">保存修改</button></div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $("#pagestyle").Hupage({
            scrollbar: function (e) {
                e.niceScroll({
                    cursorcolor: "#dddddd",
                    cursoropacitymax: 1,
                    touchbehavior: false,
                    cursorwidth: "3px",
                    cursorborder: "0",
                    cursorborderradius: "3px",
                });
            },
            expand: function (thisBox, settings) {
                settings.scrollbar(
                    $(".box-content").css({
                        height: $(window).height() - $('.box-title').outerHeight() - (settings.padding * 2)
                    })); //設置當前頁滾動樣式
            }
        })
    });
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
    })(jQuery); //設置url
    var userid = $.getUrlParam('userid');
    //編輯數據
    var userinfo = function (callback) {
        $.ajax({
            url: "json/userData.json",
            type: "GET",
            dataType: 'json',
            success: function (ret) {
                typeof callback == 'function' && callback(ret);
            },
        });
    };
    userinfo(function (listArr) {
        var listhtml = $('#user_details');
        var html = template('userinfoHtml', {
            id: userid,
            grade: listArr.grade,
            list: listArr.administrator
        });
        listhtml.html(html);
        $("#userinfoHtml").remove();
        var api = "";//調用的api接口
        var type = 1;//類型
        //調用圖片上傳
        imgUpload(api, type);
        //設置字數
        new Wordcount("form_textarea", 200);
    });
    //提交操作

    function modifybtn() {

        new huprompt("VerifyTips");

    }
</script>